body{
  background-color: #0a6bbc;
  font-style: normal;
  font-family: sans-serif;
;
}
#page-header{
  border-style: solid;
  border-width: thin;
  background-color: #f5ce00;
  font-family: sans-serif;
}

label{
  margin-right: 15px;
}

form{
  margin-top: 15px;
}

input[type="text"]{
  width: 85px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"]{
  background-color: #0a6bbc;
  border-radius: 1px;
  border-color: #0a6bbc;
  color: white;
  width: 80px;
  height: 25px;
  cursor: pointer;
}

.mySlides{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-top: 10px;
  border-style: solid;
  border-width: 1px;
}

.header-login{
  display: inline-block;
  font-family: sans-serif;
}

#txt{
  margin-left: 40px;
}

#form-pj{
  margin-left: 180px;
}

#form-pf{
  margin-left: 180px;
}

#footer1{
  text-align: center;
  border-top: solid;
  border-width: thin;
  margin-top: 10px;
  border-style: solid;
  border-width: thin;
  background-color: #f5ce00;
  font-family: sans-serif;
}


.fancy {
  background-color: #d7d4dd;
  width: 1220px;
  margin: 50px auto;
  border: 3px solid;
}


input[name="btnCadastro"]{
  background-color: #0a6bbc;
  border-radius: 1px;
  border-color: #0a6bbc;
  color: white;
  width: 80px;
  height: 25px;
  cursor: pointer;
  float: right;
}
