.btn-primary {
  color: #fff;
  background-color: #7D39A3;
  border-color: #7D39A3;
}

.btn-primary:hover {
  color: #fff;
  background-color: #8C41B8;
  border-color: #8C41B8;
}

.text-primary {
  color: #8C41B8 !important;
}
